@{
    ViewBag.Title = "Home Page";
}
@{
    #region CookiesConfiguration_1.0
    //Cookies Configuration 1.0 (Configurado para Banking del 4.0 de TV)
    ViewsBanking.Models.UserCookie user = new ViewsBanking.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["ID"] = "0";
            UserCookie["Nombre"] = "Invitado";
            UserCookie["APIToken"] = "NotValid";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);

            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new ViewsBanking.Models.UserCookie();
            user.Nombre = reqCookies["Nombre"].ToString();
            user.ID = Int32.Parse(reqCookies["ID"].ToString());
            user.APIToken = reqCookies["APIToken"].ToString();

        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new ViewsBanking.Models.UserCookie();
            user.Nombre = reqCookies["Nombre"].ToString();
            user.ID = Int32.Parse(reqCookies["ID"].ToString());
            user.APIToken = reqCookies["APIToken"].ToString();

        }
    }
    #endregion
}

<div class="display-4 text-center">
    Bienvenido(a): @user.Nombre
</div>
<div class="jumbotron bg-dark text-white">
    <h1>Proyecto, diseño web I-Banking</h1>
    <p class="lead">Integrantes:</p><br />
    <p class="lead">1. Eduardo Castillo Rodas</p>
    <p class="lead">2. Stephanie Rojas Murillo</p>
    <p class="lead">3. Pablo Bustos Cortes</p>
    <p class="lead">4. Kevin Carmona</p>
    <p class="lead">5.  Ricardo</p>
    <p><a href="https://github.com/EdCastillo/BankingDisenoWebI/tree/Mantenimientos" class="btn btn-primary btn-lg">Ir a codigo fuente</a></p>
</div>

